<template name="fortnitePlayer">
  {{#with fortnite}}
    <div class="page-header">
      <h1 class="titre">{{data.epicUserHandle}}
        <small>{{formatDate createdAt 'long' 'fr'}}</small>
      </h1>

      <div class="hidden-xs">
        <ol class="breadcrumb">
          <li><a href="/" title="Accueil"><i class="fa fa-home"></i></a></li>
          <li><a href="{{pathFor 'fortnite'}}" title="Fortnite">Fortnite</a></li>
          <li class="active">{{data.epicUserHandle}}</li>
        </ol>
      </div>
    </div>

    <p>Platform : {{data.platformNameLong}}</p>

    <h2>General</h2>

    <table class="table lead">
      <thead>
      <tr>
        <th width="16%">Kills</th>
        <th width="16%">K/d</th>
        <th width="16%">Matches Played</th>
        <th width="16%">Wins</th>
        <th width="16%">Win%</th>
        <th width="16%">Score</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{data.lifeTimeStats.[10].value}}</td>
        <td>{{data.lifeTimeStats.[11].value}}</td>
        <td>{{data.lifeTimeStats.[7].value}}</td>
        <td>{{data.lifeTimeStats.[8].value}}</td>
        <td>{{data.lifeTimeStats.[9].value}}</td>
        <td>{{data.lifeTimeStats.[6].value}}</td>
      </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-sm-4">
        {{#with group 'p2'}}
          {{> fortnitePlayerStats}}
        {{/with}}

        <!--<div class="m-t-20">-->
        <!--{{{stats 'p2'}}}-->
        <!--</div>-->
      </div>
      <div class="col-sm-4">
        {{#with group 'p10'}}
          {{> fortnitePlayerStats}}
        {{/with}}
      </div>
      <div class="col-sm-4">
        {{#with group 'p9'}}
          {{> fortnitePlayerStats}}
        {{/with}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <select id="mode" class="form-control">
          <option value="global">Global</option>
          <option value="solo">Solo</option>
          <option value="duos">Duos</option>
          <option value="squads">Squads</option>
        </select>
      </div>
      <div class="col-md-3">
        <select id="stat" class="form-control">
          <option value="kd">K/d</option>
          <option value="winsp">Wins %</option>
          <option value="score">Score</option>
          <option value="kills">Kills</option>
          <option value="matches">Matches</option>
          <option value="wins">Wins</option>
        </select>
      </div>
      <div class="col-md-3">
        <input id="skipvalues" type="checkbox" checked> skip same consecutives values<br>
      </div>
      <div class="col-md-3">
        <input id="smooth" type="checkbox"> smooth lines
      </div>
    </div>
    <div id="chart_div">Displaying chart in 1s...</div>
    <div class="zoomcontainer">
      <input type="range" min="1" max="100" value="1" class="slider" id="zoom">
    </div>
    <h2>Recent matches</h2>

    {{#each data.recentMatches}}
      <div class="well">
        {{formatDate dateCollected 'long' 'fr'}}<br>
        Matches : {{matches}}<br>
        Kills : {{kills}}<br>
        Score : +{{score}}
      </div>
    {{/each}}
    <p>
    </p>

  {{else}}
    <div class="page-header">
      <h1 class="titre">Player Not Found</h1>

      <div class="hidden-xs">
        <ol class="breadcrumb">
          <li><a href="/" title="Accueil"><i class="fa fa-home"></i></a></li>
          <li><a href="{{pathFor 'fortnite'}}" title="Fortnite">Fortnite</a></li>
          <li class="active">Player Not Found</li>
        </ol>
      </div>
    </div>
  {{/with}}
</template>

<template name="fortnitePlayerStats">

  <div class="well">
    <h2 class="text-center">{{groupText}}</h2>

    <div class="row">
      <div class="col-sm-6 text-right bold">Kills :</div>
      <div class="col-sm-6">{{kills.displayValue}}</div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-right bold">K/d :</div>
      <div class="col-sm-6">{{kd.displayValue}}</div>
    </div>
    <hr>
    <div class="row m-t-10">
      <div class="col-sm-6 text-right bold">Matches :</div>
      <div class="col-sm-6">{{matches.displayValue}}</div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-right bold">Win % :</div>
      <div class="col-sm-6">{{winRatio.displayValue}}</div>
    </div>
    <hr>
    <div class="row m-t-20">
      <div class="col-sm-6 text-right bold">Top 1 :</div>
      <div class="col-sm-6">{{top1.displayValue}}</div>
    </div>
    {{#if isGroup 'p9'}}
      <div class="row">
        <div class="col-sm-6 text-right bold">Top 3 :</div>
        <div class="col-sm-6">{{top3.displayValue}}</div>
      </div>
    {{/if}}
    {{#if isGroup 'p10'}}
      <div class="row">
        <div class="col-sm-6 text-right bold">Top 5 :</div>
        <div class="col-sm-6">{{top5.displayValue}}</div>
      </div>
    {{/if}}
    {{#if isGroup 'p9'}}
      <div class="row">
        <div class="col-sm-6 text-right bold">Top 6 :</div>
        <div class="col-sm-6">{{top6.displayValue}}</div>
      </div>
    {{/if}}
    {{#if isGroup 'p2'}}
      <div class="row">
        <div class="col-sm-6 text-right bold">Top 10 :</div>
        <div class="col-sm-6">{{top10.displayValue}}</div>
      </div>
    {{/if}}
    {{#if isGroup 'p10'}}
      <div class="row">
        <div class="col-sm-6 text-right bold">Top 12 :</div>
        <div class="col-sm-6">{{top12.displayValue}}</div>
      </div>
    {{/if}}
    {{#if isGroup 'p2'}}
      <div class="row">
        <div class="col-sm-6 text-right bold">Top 25 :</div>
        <div class="col-sm-6">{{top25.displayValue}}</div>
      </div>
    {{/if}}
    <hr>

    <!--
    <div class="row m-t-20">
      <div class="col-sm-6 text-right bold">Time played :</div>
      <div class="col-sm-6">{{minutesPlayed.displayValue}}</div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-right bold">Avg Match Time :</div>
      <div class="col-sm-6">{{avgTimePlayed.displayValue}}</div>
    </div>
-->

    <div class="row m-t-20">
      <div class="col-sm-6 text-right bold">Score :</div>
      <div class="col-sm-6">{{score.displayValue}}</div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-right bold">TRN Rating :</div>
      <div class="col-sm-6">{{trnRating.value}}</div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-right bold">Rank :</div>
      <div class="col-sm-6">{{trnRating.rank}}</div>
    </div>
  </div>
</template>
